{% extends 'base.html.twig' %} {% block body %}
<div class="container mt-5">
  <div class="row justify-content-around m-auto mt-5 w-50">
    <div class="row flex-column">
      <h3 class="question">{{ question.question }}</h3>
      <form class="reponse-form" action="{{ nextRoute }}" method="post">
        {% for reponse in question.reponses %}
        <div class="form-check reponse">
          <input
            type="radio"
            class="form-check-input"
            name="reponse_id"
            value="{{ reponse.id }}"
            id="reponse{{ reponse.id }}"
          />
          <label class="form-check-label" for="reponse">{{
            reponse.reponse
          }}</label>
        </div>
        {#
        <div class="reponse">
          <label for="reponse">{{ reponse.reponse }}</label>
          <input type="radio" name="reponse_id" value="{{ reponse.id }}" />
        </div>
        #} {% endfor %}
        <button type="submit" class="btn btn-dark btn-sm btn-rounded mt-5">
          Submit Response
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
